@charset "UTF-8";
/* CSS Document */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
	color: #4C4C4C;
	
}

style {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	background: #FFFFFF;
	
}
	
	P {
		font-size: 1vw;
		margin: 0;
		padding: 0;
		text-align: 0;
		position: absolute;
		top: 40%;
		left: 50%; 
		transform: translateX(-50%);
		text-align:justify;
		text-justify: inter-word;
}

h2 {
		font-size: 1vw;
		margin: 0;
		padding: 0;
		text-align: 0;
		position: absolute;
		top: 35%;
		left: 50%; 
		transform: translateX(-50%);
	
}



header {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    text-align: center;
}

main {
    padding: 100px;
	padding-top: 90px;
}

footer {
    background-color: #54ae32;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
    display: inline-block;
    background-color: #53af47;
    color: white;
    padding: 14px 20px;
    margin: 10px 2px;
    border: none;
	border-radius: 5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
	position: absolute;
	top: 65%;
	left: 50%; 
	transform: translateX(-50%);
}

.button:hover {
    background-color: #026db6;
	transition: 1s ease-in-out;
	
}


img {
	
	position: absolute;
	top: 20%;
	left: 50%; 
	transform: translateX(-50%);
	
	
}